<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice making a menu</title>
</head>
<body>
    <nav>
        <ul>
            <p>School Districts</p>
            <li>
                <a href="#">Maryland</a>
                <ul>
                    <li>
                        <a href="#">Perry Hall</a>
                    </li>
                    <li>
                        <a href="#">Owings Mill</a>
                    </li>
                    <li>
                        <a href="#">Loch Raven</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Ohio</a>
                <ul>
                    <li>
                        <a href="#">Milford</a>
                    </li>
                    <li>
                        <a href="#">Loveland</a>
                    </li>
                    <li>
                        <a href="#">Mason</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class = practice>
        <p>
            <img src="../../assets/download.jpg">
        </p>
        <p>This is a sentence. I am practicing responsive web development processes. I just need some filler. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. At ultrices mi tempus imperdiet nulla malesuada pellentesque. Feugiat in fermentum posuere urna 
            nec tincidunt. Tellus orci ac auctor augue mauris. Duis ut diam quam nulla porttitor massa id neque aliquam. 
            Ut lectus arcu bibendum at varius vel. Malesuada bibendum arcu vitae elementum curabitur. Enim neque volutpat 
            ac tincidunt vitae semper quis lectus. Arcu felis bibendum ut tristique et egestas quis ipsum suspendisse. Etiam 
            tempor orci eu lobortis. Nibh sit amet commodo nulla facilisi. Ultricies mi quis hendrerit dolor. Ultrices 
            tincidunt arcu non sodales. Vivamus at augue eget arcu dictum. Vitae purus faucibus ornare suspendisse sed nisi lacus sed.
        </p>
    </div>
    <div class="parent">
        <div class="child1">
            <p>I am child 1</p>
        </div>
        <div class="child2">
            <p>I am child 2</p>
        </div>
        <div class="child3">
            <p>I am child 3</p>
        </div>
    </div>
</body>
</html>