*{
    padding: 0;
    margin: 0;
}
nav{
    width: 100vw;
    height: 10vh;
    background-color: gray;
    margin-left: -.5em;
}
nav ul{
    float: left;
}
nav ul p{
    float: left;
    line-height: 3em;
    font-size: 1.5em;
    padding: 0em 1em;
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a{
    display: block;
    text-decoration: none;
    font-size: 1.1em;
    padding: 1.66em 1em;
}
nav ul li ul{
    display: none;
    position: absolute;
    border-radius: 0px 0px 8px 8px;
}
nav ul li ul li{
    background-color: gray;
    width: 20vh;
    max-width: 20ch;
    text-align: left;
}
nav ul li:hover{
    background-color: gold;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li:hover{
    background-color: gold;
}
.practice{
    margin: auto;
    margin-top: 3em;
    width: 80vw;
}
.practice img{
    width: 30vw;
}
.parent{
    border: solid black;
    display: flex;
}
.child1{
    border: solid orange;
}
.child2{
    border: solid red;
}
.child3{
    border: solid green;
}