<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
    <p>Cars</p>
    <ul>
      <li><a href="#">Mazda</a>
      <ul>
        <li><a href="#">CX-5</a></li>
        <li><a href="#">CX-90</a></li>
      </ul></li>
      <li><a href="#">Audi</a>
        <ul>
          <li><a href="#">R8</a></li>
          <li><a href="#">Q7</a></li>
          <li><a href="#">eTron</a></li>
        </ul>
      </li>
      <li><a href="#">Mercedes</a>
      <ul>
        <li><a href="#">GLB</a></li>
        <li><a href="#">G-Wagon</a></li>
      </ul></li>
    </ul>
  </nav>
  <button routerLink="/practice">practice</button>
</body>
</html>
<router-outlet></router-outlet>